<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<!-- java -> DB로 INSERT/UPDATE 시 JAVA의 NULL 값을 DB의 NULL로 인식하도록 설정 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		
		<!--  DB의 언더스코어 표기법(UnderScore) 과 JAVA의 카멜표기법이 서로 변환될수 있도록 매핑하여
			JAVA 필드명 (memberId)과 DB컬럼명(MEMBER_ID)가 서로 연결되수 있도록 함 
			 -->		
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

</configuration>
